<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quora Posts</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1> Quora About My Friends</h1>
    <% for(i of posts){ %>
        <div>
            <h3 class="user">
                <%= i.username %>
            </h3>
            <h4>
                <%= i.content %>
            </h4>
            <br>
            <a href="http://localhost:8080/posts/<%= i.id %>"> For show in detail</a><br>
            <a href="http://localhost:8080/posts/<%= i.id %>/edit">Edit</a>

            <form  method="post" action="/posts/<%= i.id %>?_method=DELETE">
                <button>Delete Post</button>
            </form>
        </div>
        <% } %>
            <br><br>
            <a href="http://localhost:8080/posts/new">For Creating new Quora posts </a>
</body>

</html>